html, html {
  -webkit-font-smoothing: subpixel-antialiased;
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  color: #333;
  background-color: $grey;
}

.shadow-container {
  @include box-shadow(rgba(0, 0, 0, 0.1) 0px 0 20px 10px);
  padding: 20px;
}

body.flat {
  padding-top: 60px;
}

.flat-container {
  background-color: #fff;
  padding: 20px;

}