$footer_h: 180px;

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by ti's height */
  margin: 0 auto (-$footer_h);
}

#push {
  height: $footer_h;
}

footer {
  background: #222222;
  color: #868686;
  height: $footer_h;
  .row {
    padding-top: 20px;
    img {
      margin-bottom: 20px;
    }
  }

  a {
    &, &:link, &:visited, &:hover {
      color: #868686;
    }
  }
}
