#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -180px;
}

#push {
  height: 180px;
}

footer {
  background: #222222;
  padding-top: 20px;
  color: #868686;
  img {
    margin-bottom: 20px;
  }
}
