.login-wrapper {
  width: 522px;
  margin: 0 auto;
  .messages {
    position: absolute;
    top: 60px;
    width: 522px; } }

div.devise-form {
  background-color: white;
  border: 1px solid rgba(212, 212, 212, 0.5);
  width: 460px;
  margin: 100px auto 0px auto;
  padding: 30px;
  h2.logo {
    display: block;
    float: left;
    height: 290px;
    line-height: 265px;
    margin: 0;
    padding: 0;
    min-width: 160px; }
  .form-container {
    border-left: 1px solid #dddddd;
    display: inline-block;
    margin-left: 30px;
    padding: 20px 0 0 30px;
    text-align: left;
    width: 230px;
    height: 250px;
    label {
      font-weight: bold; } } }

.login-footer {
  color: #777777;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  padding-top: 0;
  text-align: center;
  ul.links {
    float: left;
    list-style-type: none;
    margin: 0 auto;
    padding: 0.5em 0;
    width: 100%;
    li {
      display: inline;
      padding: 0 0.5em;
      border-right: 1px solid #777777;
      > a {
        color: #777777; }
      &.last {
        border-right: none; } } } }

.form-signup {
  .page-header {
    margin-bottom: 15px;
  }
  p.small {
    margin-bottom: 20px;
  }
}