.navbar.backend {
  .container {
    width: 1000px;
  }
  .nav {
    > li > a {
      color: #868686;
      text-shadow: none;
      &:hover, &:focus {
        color: #E6E6E6;
      }
    }
  }
  .navbar-inner {
    background: #222222;
    @include border-radius(0px);
    border: none;
    min-height: 50px;
  }
}

header {
  .xaccount-box {
    position: absolute;
    right: 0;
    top: 6px;
    width: 128px;
    float: right;
    display: block;
    cursor: pointer;
  }
  .account-box {
    line-height: 28px;
    img {
      width: 28px;
      height: 28px;
    }
    img.abs {
      position: absolute;
      top: 1px;
      right: 5px;
    }
  }
}

.navbar, .navbar-inverse {
  .brand {
    color: white;
    a {
      color: white;
    }
  }

  .nav > li.account-box > a {
    margin: 0;
  }
  .nav .dropdown-toggle .caret {
    margin: 13px 0 0 5px;
  }
}
