h1 {
  font: 300 40px/20px "lato";
  letter-spacing: -2px;
  text-transform: uppercase;
}

h2 {
  font: 300 30px/15px "lato";
  letter-spacing: -2px;
  text-transform: uppercase;
}

p.small {
  font-size: 11px;
  line-height: 14px;
  color: #333;
}