// $body-bg: #f9f9f9;
// $text-color: #555555;
$text-color: #55545b;
// for blue
// $navbar-default-bg: #1d799e;
// $navbar-default-color: #fff;
$navbar-default-bg: #fff;
$navbar-default-link-color: #404b55;
$navbar-default-link-hover-color: #044e6a;
// for blue
// $navbar-default-link-active-color: #fff;
// $navbar-default-link-active-bg: #086487;
$navbar-default-link-active-bg: $navbar-default-bg;
$navbar-height: 70px;

// $input-bg: #f9f9f9;
// $input-border: #555555;

$input-border-radius: 3px !default;

$input-border-radius-base: 3px !default;
$input-border-radius-large: 3px !default;
$input-border-radius-small: 3px !default;

$btn-border-radius-base:  3px !default;
$btn-border-radius-large: 3px !default;
$btn-border-radius-small: 3px !default;

$footer-height: 60px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// @import "bootstrap-datepicker3";
// @import "bootstrap-datetimepicker";

//
// for navbar-fixed-top
//
// body { padding-top: $navbar-height + 20px }
// for fluid container
// body { padding-top: $navbar-height }

html {
  position: relative;
  min-height: 100%;
}

body { 
  color: #55545b;
  height: 100%;
  width: 100%;
  // Margin bottom by footer height + space before footer
  margin-bottom: 40px + $footer-height;
}

abbr[title] {
  color: red;
}

.center-block.devise {
  width: 550px;
}

.wrapper {
  background-color: #fff;
  padding: 20px 20px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
  border: 1px solid #e8e8e8;
}

.fixed-bottom, .fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  border-top: 1px solid #f2f2f2;
  margin-top: 10px;
  padding-top: 10px;

  background-color: $text-color;
  color: #fff;

  font-size: 20px;
  font-weight: 300;
}

.sidebar-nav {
  a {
    color: #555459;
    font-size: 18px;
  }
}

.navbar-default {
  border-bottom: 0;
  box-shadow: 0 1px 4px rgba(0,0,0,.15);
}

form.form-horizontal {
  .form-group {
    @extend .form-group-lg;
    .form-actions {
      @extend .col-sm-offset-3;
      @extend .col-sm-10;
    }
  }
}

a {
  color: $text-color;
  &:hover {
    color: #3686be;
  }
}

.logo {
  color: $text-color;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 1.4em;
  margin: 0;
  font-weight: 300;
}


.nav.navbar-dotted {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
  & > li {
    padding: 18px 15px;
    & > a {
      padding: 0px 0px;
      text-transform: uppercase;
      &:hover, &:focus {
        text-decoration: none;
        background-color: transparent;;
      }
      &.btn-transparent:hover {
        background-color: #fff;
        color: #3686be;
      }
    }
    //
    // padding different juste pour garder l'effet border-bottom dotted sur les liens
    //
    &.btn {
      margin-left: 20px;
      padding: 5px 0px;
      & > a {
        padding: 10px 15px
      }
    }
  }
}

.btn-transparent {
  background-color: transparent;
  border-color: $text-color;
  &:hover {
    background-color: #fff;
    color: #3686be;
    border-color: #3686be;
  }
}

h3.logo {
  padding: 20px;
  background: #0d77b6;
}

@import "base/sidebar-page";
@import "base/ilist";
@import "base/form-signin";


//
// Override bootstrap label
//
.form-group-lg {
  margin-bottom: 25px;
  .control-label {
    font-size: $font-size-large;
    line-height: $line-height-large;
  }
}

//
// for admin but incompatible with frontend
//
//ul.nav > li {
//  padding: 20px 15px;
//}

@import "modules/bootstrap-social";
