// $body-bg: #f9f9f9;
// $text-color: #555555;
$text-color: #55545b;
// for blue
// $navbar-default-bg: #1d799e;
// $navbar-default-color: #fff;
$navbar-default-bg: #fff;
$navbar-default-link-color: #404b55;
$navbar-default-link-hover-color: #044e6a;
// for blue
// $navbar-default-link-active-color: #fff;
// $navbar-default-link-active-bg: #086487;
$navbar-default-link-active-bg: $navbar-default-bg;
$navbar-height: 70px;

// $input-bg: #f9f9f9;
// $input-border: #555555;

$input-border-radius: 3px !default;

$input-border-radius-base: 3px !default;
$input-border-radius-large: 3px !default;
$input-border-radius-small: 3px !default;

$btn-border-radius-base:  3px !default;
$btn-border-radius-large: 3px !default;
$btn-border-radius-small: 3px !default;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome.css";

// @import "bootstrap-datepicker3";
// @import "bootstrap-datetimepicker";

//
// for navbar-fixed-top
//
// body { padding-top: $navbar-height + 20px }
// for fluid container
// body { padding-top: $navbar-height }

body { color: #55545b; }

abbr[title] {
  color: red;
}

.center-block.devise {
  width: 550px;
}

.wrapper {
  background-color: #fff;
  padding: 20px 20px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
  border: 1px solid #e8e8e8;
}

.fixed-bottom, .fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}

footer {
  border-top: 1px solid #f2f2f2;
  margin-top: 10px;
  padding-top: 10px;
}

.sidebar-nav {
  a {
    color: #555459;
    font-size: 18px;
  }
}

.navbar-default {
  border-bottom: 0;
  box-shadow: 0 1px 4px rgba(0,0,0,.15);
}

form.form-horizontal {
  .form-group {
    @extend .form-group-lg;
    .form-actions {
      @extend .col-sm-offset-3;
      @extend .col-sm-10;
    }
  }
}

.logo {
  color: #afdefa;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 1.4em;
  margin: 0;
  font-weight: 300;
}

h3.logo {
  padding: 20px;
  background: #0d77b6;
}

@import "base/sidebar-page";
@import "base/ilist";
@import "base/form-signin";

.mynav {
  border: 0;
  border-bottom: 1px solid #47a3d9;
  height: 72px;
  left: 230px;
  box-shadow: none;
}

//
// for admin but incompatible with frontend
//
//ul.nav > li {
//  padding: 20px 15px;
//}

