%h1 Listing admin_users

%table
  %tr
    %th
    %th
    %th

  - @admin_users.each do |admin_user|
    %tr
      %td= link_to 'Show', admin_user
      %td= link_to 'Edit', edit_admin_user_path(admin_user)
      %td= link_to 'Destroy', admin_user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User', new_admin_user_path
