.page-header
  h1
    => fa_icon(:user)
    | Users

= render 'search'
br/
= btn_link_to 'New User', new_admin_user_path
br/
= render 'list', users: @users

br/

= btn_link_to 'New User', new_admin_user_path
